html {
  font-family: 'Josefin Sans', sans-serif;
 /* font-family: 'Oswald', sans-serif;*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

 footer {
 	text-align: right;
 }

 .p {
 	padding-bottom: 8px;

 }

 .px {
 	padding-bottom: 16px;
 }

 .pxx {
 	padding-bottom: 24px;

 }

 .pxxl {
 	padding-bottom: 32px;
 }

 .pxxxl {
 	padding-bottom: 40px;
 }

 .list-inline {
 	display: -webkit-inline-box;
 	list-style-type: none;
    margin: 0;
    padding: 0;
 	width: 260px;
 }

 li>a{
 	text-decoration: none;
 	border-right: black 1px solid;
    padding-right: 10px;
    padding-left: 10px;
 }

 .firstli {
 	padding-left: 0;
 }

 a:hover {
 	background-color: #FFB5B6;

 }